
body{
    background: tomato;
}
header{
    font-size: large;
    font-weight: bold;
    /* font-size: 15px; */
    font-weight: bold;
    border: 1px solid gray;
    padding: 2% 2% 2%;
}
.container, .outcome{
    background: white;
    width: 20vw;
    height: 20vh;
    border-radius: 5%;
    padding: 20px 20px 20px;
    margin: 20% 25% 40% 40%;
    text-align: center;
      
}
.hideContainer{
   visibility: hidden;
}
.title{
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
/* .board{
    visibility: hidden;
} */
.Opponent-X{
    border-radius: 5px;
    background: rgb(199, 63, 39);
    color: white;
    padding: 6px;
    border: none;
    font-size: large;
    font-weight: bold;
}
.Opponent-O{
    border-radius: 5px;
    background: rgb(199, 63, 39);
    color: white;
    padding: 6px;
    border: none;
    font-size: large;
    font-weight: bold;
}
.showBoard{
    visibility: visible;
}
.slider{
    left: 50%;
}
.board-part{
    height: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
}
.cell{
    height: 100px;
    width: 100px;
    background-color: white;
    border: 1px solid tomato;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    line-height: 100px;
    color: rgb(172, 53, 32);
}
.opponents{
    margin: 9% 10%;
    text-align: center;
    /* padding-top: 1%; */
}
.opponent-Xturn{
    border-radius: 5px;
    background: rgb(199, 63, 39);
    color: white;
    padding: 6px;
    border: none;
    font-size: large;
    font-weight: bold;
}
.opponent-Oturn{
    border-radius: 5px;
    background: rgb(199, 63, 39);
    color: white;
    padding: 6px;
    border: none;
    font-size: large;
    font-weight: bold;
}
.win{
    padding: 30px;
    font-size: large;
    font-weight: bold;
}
.restart-button{
    border-radius: 5px;
    background: rgb(199, 63, 39);
    color: white;
    padding: 6px;
    border: none;
}
/* .outcome{
    display: none;
} */
.showOutcome{
    visibility: visible;
}
