
body{
    background: tomato;
}
header{
    font-size: 15px;
    font-weight: bold;
    border: 1px solid gray;
    padding: 2% 2% 2%;
}
.container, .outcome{
    background: white;
    width: 20vw;
    height: 20vh;
    border-radius: 5%;
    padding: 20px 20px 20px;
    margin: 20% 25% 40% 40%;
    text-align: center;
      
}
.hideContainer{
   visibility: hidden;
}
.title{
    padding-bottom: 5%;
    padding-top: 5%;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.board{
    visibility: hidden;
}
.showBoard{
    visibility: visible;
}
.board-part{
    height: 100%;
    height: 100%;
    display: grid;
    align-content: center;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
}
.cell{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 1px solid red;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    text-align: center;
    line-height: 100px;
    color: tomato;
}
.opponents{
    margin: 9% 10%;
}
.opponent-Xturn{
    background: rgb(172, 53, 32)
}
.opponent-Oturn{
    background: rgb(218, 208, 208)
}
.win{
    padding: 30px;
    font-size: large;
    font-weight: bold;
}
.restart-button{
    border-radius: 5px;
    background: rgb(199, 63, 39);
    color: white;
    padding: 6px;
    border: none;
}
.outcome{
    display: none;
}
